<div class="aktivnosti">
	<div class="aktivnost-slika" id="slika-oranje">
		<span class="aktivnost-tekst">Орање</span>
	</div>
	<div (click)="sejanje()" class="aktivnost-slika" id="slika-sejanje">
		<span class="aktivnost-tekst">Сејање</span>
	</div>
	<div class="aktivnost-slika" id="slika-navodnjavanje">
		<span class="aktivnost-tekst-mali">Наводњавање</span>
	</div>
	<div class="aktivnost-slika" id="slika-djubrenje">
		<span class="aktivnost-tekst">Ђубрење</span>
	</div>
	<div class="aktivnost-slika" id="slika-prskanje">
		<span class="aktivnost-tekst">Прскање</span>
	</div>
	<div class="aktivnost-slika" id="slika-zetva">
		<span class="aktivnost-tekst">Жетва</span>
	</div>
</div>
