.aktivnosti {
	display: flex;
	justify-content: center;
	margin-top: 1rem;
}
.aktivnost-slika {
	position: relative;
	width: 5rem;
	height: 5rem;
	text-align: center;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	border: 4px solid grey;
	border-radius: 4px;
	background-color: gold;
	background-size: 100% 100%;
	cursor: pointer;
}
.aktivnost-tekst {
	position: relative;
	top: 3.7rem;
	color: turquoise;
	text-shadow: 1px 1px black;
}
#slika-odrzavanje {
	background-image: url("/assets/images/aktivnosti/maintenance.gif");
}
#slika-gorivo {
	background-image: url("/assets/images/aktivnosti/gorivo.jpg");
}