#statusna-tabla {
	display: flex;
	justify-content: space-between;
	color: white;
	background-color: darkgreen;
}
a {
	font-family: "Gabriela", serif;
	color: white;
	text-decoration: none;
	 cursor: pointer;
}
#korisnik {
	font-family: "naturalFont", serif;
}
.error {
	color:  red;
}
.success {
	color:  yellow;
}
.fadingOut {
	opacity: 0;
}
p {
	margin: 0;
	font-family: "Gabriela", serif;
	transition: opacity 1.5s;
	/* font-size: 1.3em; */
}

@media screen and (min-width: 760px) {
  #logo, p {
    font-size: 32px;
  }
}