<div class="map-container">
	<div class="help-text" id="text1">Користите плус и минус дугмиће на мапи, или точкић миша да зумирате мапу. Притисните лево дугме миша, држите га и померајте миша да померите мапу.</div>
	<div class="google-map" id="g-map">
		<app-dodaj-njivu-map (onShapeDrawn)="onShapeDrawn($event)"></app-dodaj-njivu-map>
	</div> 
	<div class="help-text" id="text2">Да почнете да цртате њиву, једноставно кликните левим дугметом миша (брзо, без држања) и померите миша тамо где желите следећу тачку. Понављајте овај поступак док не нацртате цео оквир њиве. Оквир њиве мора бити затворен—последња тачка мора бити иста као прва, тако да последњу линију нацртајте тако што једноставно кликнете на прву тачку од које сте почели.</div>
</div>

<form [formGroup]="dodajNjivuForma" (ngSubmit)="onSubmit(dodajNjivuForma.value)" (keyup)="onKey($event)" class="form-container">

	<span class="input input--sae">
		<input #imeNjive type="text" id="ime-njive" [formControl]="dodajNjivuForma.controls['ime']" class="input__field input__field--sae" autofocus />
		<label class="input__label input__label--sae" for="ime-njive">
			<i class="fa fa-fw fa-pencil icon icon--sae"></i>
			<span class="input__label-content input__label-content--sae ilcs">Име њиве</span>
		</label>
	</span>
	<div class="form-input-error" *ngIf="dodajNjivuForma.controls['ime'].hasError('required') && dodajNjivuForma.controls['ime'].touched">Морате дати име њиви</div>
	<div class="form-input-error" *ngIf="dodajNjivuForma.controls['ime'].hasError('maxlength') && dodajNjivuForma.controls['ime'].touched">Име њиве може бити дугачко највише 30 слова</div>

	<span class="input input--sae">
		<input #katOpstina type="text" id="katOpstina" [formControl]="dodajNjivuForma.controls['katOpstina']" class="input__field input__field--sae"/>
		<label class="input__label input__label--sae" for="katOpstina">
			<i class="fa fa-fw fa-pencil icon icon--sae"></i>
			<span class="input__label-content input__label-content--sae ilcs">Катастарска општина</span>
		</label>
	</span>
	<div class="form-input-error" *ngIf="dodajNjivuForma.controls['katOpstina'].hasError('required') && dodajNjivuForma.controls['katOpstina'].touched">Морате унети катастарску општину којој њива припада</div>
	<div class="form-input-error" *ngIf="dodajNjivuForma.controls['katOpstina'].hasError('maxlength') && dodajNjivuForma.controls['katOpstina'].touched">Име катастарске општине може имати највише 30 слова</div>

	<span class="input input--sae">
		<input #klasaZemljista type="text" id="klasaZemljista" [formControl]="dodajNjivuForma.controls['klasaZemljista']" class="input__field input__field--sae" />
		<label class="input__label input__label--sae" for="klasaZemljista">
			<i class="fa fa-fw fa-pencil icon icon--sae"></i>
			<span class="input__label-content input__label-content--sae ilcs">Класа земљишта</span>
		</label>
	</span>
	
	<button type="submit" [disabled]="!dodajNjivuForma.valid" id="submit-button">Додај њиву</button>

	<div class="form-background"></div>
</form>
