.google-map {
	width: 26rem;
	height: 26rem;
	margin: auto;
}
form {
	display: none; /* Inicijalno forma nije na ekranu */
}
.form-container {
	width: 20rem;
	margin-left: auto;
	margin-right: auto;
}