<form [formGroup]="posejForma" (ngSubmit)="onSubmit(posejForma.value)">
	<span class="input input--sae">
		<input #usev [formControl]="posejForma.controls['usev']" class="input__field input__field--sae" type="text" id="vrsta-useva" autofocus/>
		<label class="input__label input__label--sae" for="vrsta-useva">
			<i class="fa fa-fw fa-pencil icon icon--sae"></i>
			<span class="input__label-content input__label-content--sae">Врста усева</span>
		</label>
	</span>
	<div class="form-input-error" *ngIf="posejForma.controls['usev'].hasError('required') && posejForma.controls['usev'].touched">Морате унети име усева</div>
	<div class="form-input-error" *ngIf="posejForma.controls['usev'].hasError('maxlength') && posejForma.controls['usev'].touched">Име усева може имати највише 30 слова</div>

	<select [formControl]="posejForma.controls['njiva']">
		<option *ngFor="let njiva of njive" label="{{njiva.ime}}" value="{{njiva.id}}">
		</option>
	</select>
	<div class="form-input-error" *ngIf="posejForma.controls['njiva'].hasError('required') && posejForma.controls['njiva'].touched">Морате изабрати њиву</div>

	<button type="submit" [disabled]="!posejForma.valid">Додај усев</button>
</form>
