.master-background {
	position: absolute;
	height: 100vh;
	width: 100vw;
	z-index: -10;
	background: skyblue url("/assets/images/WheatField.jpg") no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
}
.master-frame {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: skyblue;
	opacity: 0.4;
	z-index: -5;
}
#app-root-element {
	height: 92vh;
	overflow: auto;
}
