<p>
  njive works!
</p>
<div *ngFor="let njiva of njive" [class.nova-njiva]="novaNjivaId && novaNjivaId===njiva.id" (click)="prikaziNjivu(njiva.id)" id="njive">
	<p>Име: {{njiva.ime}}</p>
	<div *ngFor="let usev of njiva.usevi" [class.novi-usev]="noviUsevId && noviUsevId===usev.id">
		<p>{{usev.vrsta_useva}}</p>
	</div>
</div>
<button (click)="prikaziInformacije()" data-tema="pasulj_osnovno" id="info-dugme">Informacije</button>
<a [routerLink]="['/kontrolna-tabla', 'imovina', {outlets: {'njive': ['dodaj-njivu']}}]">Додај њиву</a>
