<div *ngFor="let njiva of njive" [class.nova-njiva]="novaNjivaId && novaNjivaId===njiva.id" class="njiva">
	<div (click)="prikaziNjivu(njiva.id)" class="okvir-njive" title="кликните да видите детаље о овој њиви">
		<div class="slika-njive"></div>
		<p class="ime-njive">{{njiva.ime}}</p>
	</div>
	<div class="usevi">
		<div *ngFor="let usev of njiva.usevi" [class.novi-usev]="noviUsevId && noviUsevId===usev._id" class="usev">
			<div class="okvir-useva" title="кликните да видите детаље о овом засаду">
				<img src="/assets/images/{{vrsteUsevaPoId[usev.vrstaUseva].srcSlike}}" class="slika-useva"/>
				<p>{{vrsteUsevaPoId[usev.vrstaUseva].ime}}</p>
			</div>
		</div>
	</div>
</div>
<!--<button (click)="prikaziInformacije()" data-tema="pasulj_osnovno" id="info-dugme">Informacije</button>-->
<button class="dugme-dodaj-njivu" [routerLink]="['/kontrolna-tabla', 'imovina', {outlets: {'njive': ['dodaj-njivu']}}]">Додај нову њиву</button>
