<div *ngFor="let njiva of njive" [class.nova-njiva]="novaNjivaId && novaNjivaId===njiva.id" (click)="prikaziNjivu(njiva.id)" class="njiva">
	<div class="okvir-njive">
		<div class="slika-njive"></div>
		<p>{{njiva.ime}}</p>
	</div>
	<div class="usevi">
		<div *ngFor="let usev of njiva.usevi" [class.novi-usev]="noviUsevId && noviUsevId===usev.id" class="usev">
			<div class="okvir-useva">
				<img src="/assets/images/{{vrsteUsevaPoId[usev.vrsta_useva].srcSlike}}" class="slika-useva"/>
				<p>{{vrsteUsevaPoId[usev.vrsta_useva].ime}}</p>
			</div>
		</div>
	</div>
</div>
<!--<button (click)="prikaziInformacije()" data-tema="pasulj_osnovno" id="info-dugme">Informacije</button>-->
<button class="dugme-dodaj-njivu" [routerLink]="['/kontrolna-tabla', 'imovina', {outlets: {'njive': ['dodaj-njivu']}}]">Додај њиву</button>
